<%- include('../partials/header', {title}); %>

<form id="form-add-audio" action="/audios" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text"
               class="form-control <%= (typeof errors != 'undefined' && typeof errors.titulo != 'undefined') ? "is-invalid" : "is-valid" %>"
               name="titulo" id="titulo">
        <% if(typeof errors != 'undefined' && typeof errors.titulo != 'undefined'){ %>
            <div class="invalid-feedback">
                <%= errors.titulo %>
            </div>
        <% } %>
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text"
               class="form-control <%= (typeof errors != 'undefined' && typeof errors.descricao != 'undefined') ? "is-invalid" : "is-valid" %>"
               name="descricao" id="descricao">
        <% if(typeof errors != 'undefined' && typeof errors.descricao != 'undefined'){ %>
            <div class="invalid-feedback">
                <%= errors.descricao %>
            </div>
        <% } %>
    </div>
    <div class="form-group">
        <label for="audio">Áudio</label>
        <input type="file" class="form-control-file" id="audio" name="audio">
        <% if(typeof errors != 'undefined' && typeof errors.audio != 'undefined'){ %>
            <div class="invalid-feedback">
                <%= errors.audio %>
            </div>
        <% } %>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Enviar</button>
    </div>
</form>
<%- include('../partials/footer'); %>